---
import PageLayout from '@/layouts/BaseLayout.astro'
import NewsList from '@/components/NewsList.astro'
---

<PageLayout meta={{ title: 'News' }} highlightColor='#8A8A8A'>
  <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>News</h1>
  <NewsList />
</PageLayout>
